window#waybar {
  font-family: Source Code Pro;
  background: rgba(0,0,0,0.1);
  color: #AAB2BF;
  font-size: small;
}
#cpu { color: rgb(255, 128, 0); }
#memory { color: rgb(0, 179, 255); }
#custom-power { color: rgb(254, 46, 46); padding-right: 8px; }
.modules-right .module {
  padding: 1px 5px;
  margin: 0px 5px;
  border-top: 2px solid;
}
#workspaces button {
  padding: 0 5px;
  border-radius: 0px;
  border: 0px;
}
#workspaces button.visible {
  color: white;
  border-top: 2px solid;
}
#workspaces button:hover {
  background: rgba(255, 255, 255, 0.15);
  transition: none;
  text-shadow: none;
  box-shadow: none;
}
#workspaces {
  outline: none;
}